<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weatherImg.png">
        <title>About</title>
    </head>
    </html>
    <body>
        <div class="content">
            {{!-- <h1>About Page</h1> --}}
            {{>header}}
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <h1>{{name}}</h1> --}}
            <img class="portrait" src="./img/2022-08-08.png" alt="error">
        </div>
        
        {{>footer}}
    </body>
</html>