<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weatherImg.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    </html>
    <body>
        <div class="content">
            {{>header}}
            {{!-- <h1>Help</h1> --}}
            <p>{{helpText}}</p>
        </div>
    
        {{>footer}}
    </body>
</html>