<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weatherImg.png">

        <title>Weather</title>
    </head>
    </html>
    <body>
        <div class="content">
            {{>header}}
            <p>{{forecast}}</p>
            <p>In {{address}}</p>
        </div>
        {{>footer}}
    </body>
</html>